.sites-button {
  background: #FF6908;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  border: none;
}

.button {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;

    &:hover {
        background-color: $primary-color;
    }
}

.footer-btn {
    padding: 16px 10px 0;

    @media #{$medium-up} {
      padding: 16px 20px 0;
    }
}
